.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
#estado{
	font-size:15px;
}
.explain{
	border: grey groove 5px;
    padding-top: 20px;
}
.selectExplain{
	border: white groove 5px;
}
.navbar{
	background-color:rgb(125, 1, 0);
	margin-bottom:0;
	padding-bottom:10px;
	border-bottom: groove white;
	border-right: groove rgb(125, 1, 0);
	border-top: groove rgb(125, 1, 0);
	border-left: groove rgb(125, 1, 0);
}
.navbar-right{
	padding-top:15px;
	padding-right:100px;
	color:white;
}
.navbar-left{
	padding-top:10px;
	padding-left:100px;
	color:white;
}

.navbar .navbar-brand{
	font-family: 'Kumar One', cursive;
	color:white;
	padding-top:30px;
}

#principal{
	background-color:grey;
	padding-top:150px;
	padding-bottom:150px;
}
#knowledge{
	padding-top:40px;
	background-color:rgb(51, 51, 51);
}
#knowledge #knowledge-cells{
	padding-top:50px;
	padding-bottom:50px;
	background-color:rgb(51, 51, 51);
	color:white;
}
#knowledge #knowledge-explain{
	padding-top:50px;
	padding-left:40px;
	background-color:white;
}
#contactus{
	background-color:rgb(125, 1, 0);
	color:black;
	padding-bottom:70px;
	padding-top:70px;
}
#contactus .glyphicon{
	font-size:50px;
	padding-top:10px;
	padding-bottom:10px;
}
#contactus .row{
	color:white;
}
#contactus .row .primary{
	border-top:1px solid black
}
#contactus #telefono p{
	font-size:20px;
}
#contactus #email p{
	font-size:20px;
}
#contactus #curriculum{
	font-size:20px;
	color:white;
}
.footer{
	background-color:rgb(51, 51, 51);
	padding-top: 40px;
    padding-bottom: 40px;
	color:white;
}
@media only screen and (max-width: 750px) {
	.navbar .navbar-brand{
		font-family: 'Kumar One', cursive;
		color:white;
		padding-top:20px;
	}
}